body{
	background: #efefef;
	font-family: Arial;
	color: #000000;
	text-align: center;
}
.concert{
	display: inline-block;
	width: 24%;
	padding: 50px 0 50px 0; 
	margin: 5px;
	border: 2px solid #bfbfbf;
	box-shadow: 1px 1px #888888;
}
.infoDiv{
	line-height: 20px;
	padding: 25px;
	display: inline-block;
	text-align: left;
	font-size: 1em;
}
strong{
	color: #0040a8;
	font-size: 1.25em;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}